!.aiderignore
.aider*
.coverage
.example_runs
.list_compose.txt
.list_readme.txt
.task
bin/
cmd/firmware-action/coverage.html
cmd/firmware-action/coverage.out
cmd/firmware-action/recipes/__tmp_files__/
cmd/firmware-action/vendor/
docker/coreboot/coreboot-*
docs/preprocessors/__pycache__
docs/public/
megalinter-reports/
node_modules/
output-*/
