.coverage
.example_runs
.task
bin/
cmd/firmware-action/coverage.html
cmd/firmware-action/coverage.out
cmd/firmware-action/recipes/__tmp_files__/
docker/coreboot/coreboot-*
megalinter-reports
node_modules
output-*/
