.coverage
.task
.example_runs
cmd/firmware-action/coverage.html
cmd/firmware-action/coverage.out
bin/
megalinter-reports
node_modules
cmd/firmware-action/recipes/__tmp_files__/
output-*/
docker/coreboot/coreboot-*
