services:
  #==================
  # coreboot
  #==================
  coreboot_4.19:
    build:
      context: coreboot
      args:
        - COREBOOT_VERSION=4.19
  coreboot_4.20.1:
    build:
      context: coreboot
      args:
        - COREBOOT_VERSION=4.20.1
  coreboot_4.21:
    build:
      context: coreboot
      args:
        - COREBOOT_VERSION=4.21
  #==================
  # edk2
  #==================
  udk2017:
    build:
      context: edk2
      args:
        - EDK2_VERSION=UDK2017
        - SOURCE_IMAGE=buildpack-deps:bionic
        - EDK2_PLATFORM_COMMIT=5b849a6397d51607098cb4d0cf8b9b3f88731912
        - EDK2_NON_OSI_COMMIT=663322292e2cc81ee6ec26aa0c5948f4d8c4849a
        - GCC_VERSION=4.8
        - PYTHON_PACKAGES=python
        - GCC_CROSS_COMPILER_PACKAGES=gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi gcc-i686-linux-gnu
      # NonOSI wasn't used in 2017
  edk2-stable202008:
    build:
      context: edk2
      args:
        - EDK2_PLATFORM_COMMIT=7093026e924291b9e9f6f5211a052c6a761a4704
        - EDK2_NON_OSI_COMMIT=4f88718028316aee31cb577f7127d5706255722d
  edk2-stable202105:
    build:
      context: edk2
      args:
        - EDK2_VERSION=edk2-stable202105
        - EDK2_PLATFORM_COMMIT=442dfd5da6475dfa844894bf88284b959b1210b8
        - EDK2_NON_OSI_COMMIT=9c509e9b00cc8f68a0c2293436d0572d3e4a40ce
  edk2-stable202111:
    build:
      context: edk2
      args:
        - EDK2_VERSION=edk2-stable202111
        - EDK2_PLATFORM_COMMIT=41dacdf4fb36b350bd199adeb9036b7d44b3d243
        - EDK2_NON_OSI_COMMIT=eef5e03e52f41492ff7af1a7985bc5eda8d7a448
  # Building UniversalPayload from this point on is likely ???
  edk2-stable202205:
    build:
      context: edk2
      args:
        - EDK2_VERSION=edk2-stable202205
        - SOURCE_IMAGE=buildpack-deps:jammy
        - EDK2_PLATFORM_COMMIT=f427247a8d415c2d514ee49c4d0cde94a9b8ea89
        - EDK2_NON_OSI_COMMIT=6996a45d7f4014fd4aa0f1eb4cbe97d8a3c5957a
        - INTERMEDIATE_IMAGE=universalpayload
  edk2-stable202208:
    build:
      context: edk2
      args:
        - EDK2_VERSION=edk2-stable202208
        - SOURCE_IMAGE=buildpack-deps:jammy
        - EDK2_PLATFORM_COMMIT=3c3b1168017073c2bb2d97336c5929ebae805be1
        - EDK2_NON_OSI_COMMIT=61662e8596dd9a64e3372f9a3ba6622d2628607c
        - INTERMEDIATE_IMAGE=universalpayload
  edk2-stable202211:
    build:
      context: edk2
      args:
        - EDK2_VERSION=edk2-stable202211
        - SOURCE_IMAGE=buildpack-deps:jammy
        - EDK2_PLATFORM_COMMIT=b36fe8bc9b6812e9b4ec360a2ab513a0437d4132
        - EDK2_NON_OSI_COMMIT=6996a45d7f4014fd4aa0f1eb4cbe97d8a3c5957a
        - INTERMEDIATE_IMAGE=universalpayload
  #==================
  # linux
  #==================
  linux_6.1.45:
    build:
      context: linux
      args:
        - LINUX_VERSION=6.1.45
