---
# Docs: https://github.com/actions/labeler
name: 'labeler'

on:
  - pull_request_target

permissions: read-all

jobs:
  labeler:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Run labeler
        uses: actions/labeler@v6
